<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>첫번째 페이지</title>
</head>
<style>
    table, tr, td, th{
        border : 1px solid black;
        border-collapse: collapse;
        padding : 5px 10px;
        text-align: center;
    }
</style>
<body>
	<div id="app">
		<div>
            <div>학번 : <input v-model="stuNo"></div>
            <div>이름 : <input v-model="stuName"></div>
            <button @click="fnLogin">로그인</button>
        </div> 
	</div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                stuNo : "",
                stuName : ""
            };
        },
        methods: {
            fnLogin(){
                let self = this;
                let param = {
                    stuNo : self.stuNo,
                    stuName : self.stuName
                };
				fetch("http://localhost:3000/student/login",{
                    method : "POST",
                    headers : {
                        "Content-type" : "application/json"   
                    },
                    body : JSON.stringify(param)
                })
                    .then( res => res.json() )
                    .then( data => {
                        console.log(data);
                    } )
            }
        },
        mounted() {
            var self = this;
            
        }
    });
    app.mount('#app');
</script>