<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	<title>첫번째 페이지</title>
</head>
<style>
    table, tr, td, th{
        border : 1px solid black;
        border-collapse: collapse;
        padding : 5px 10px;
        text-align: center;
    }
</style>
<body>
	<div id="app">
		<div>
            <div>
                제품이름 : <input v-model="productName">
            </div>
            <div>
                가격 : <input v-model="price">
            </div>
            <div>
                종류 : <input v-model="category">
            </div>
            <button @click="fnAdd">저장</button>
        </div>
	</div>
</body>
</html>
<script>
    const app = Vue.createApp({
        data() {
            return {
                productName : "",
                price : "",
                category : ""
            };
        },
        methods: {
            fnAdd(){
                let self = this;
                let param = {
                    productName : self.productName,
                    price : self.price,
                    category : self.category
                };

				fetch("http://localhost:3000/product", {
                    method : "POST",
                    headers : {
                        "Content-type" : "application/json"   
                    },
                    body : JSON.stringify(param)
                })
                    .then( res => res.json() )
                    .then( data => {
                        alert("추가 완료");
                        location.href="product-list.html";
                    })
            }
        },
        mounted() {
            var self = this;
        }
    });
    app.mount('#app');
</script>